
  <h1> Welcome <%= @user.first_name %> <%= @user.last_name %></h1>


    <div class="col-lg-12">
        <div class="box box-solid box-primary">
        <div class="box-header">
          <h3 class="box-title">Your Balance:</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <%= @user.balance %>
        </div><!-- /.box-body -->
      </div>
    </div>



<br> 

<% @children.each do |child| %>
	<div class="child_box col-md-4">
    <div class="box box-solid box-primary">

		<h3><%= child.name %></h3>
		<img src="<%= child.image_url%>">
		<a href="/"><h1><%= School.find(:id==child.school_id).name %></h1></a>
    <h1>Balance: <%= child.balance %></h1> 

    <%= form_tag user_change_money_path(@user) do   %> 
      <input type="float" name="amount" placeholder="Amount">
      <input type="hidden" name="child_id" value=<%=child.id%> />
      <%= submit_tag 'Add Money', name: 'add_money' %>
      <%= submit_tag 'Remove Money' %>
    <% end %> 
    </div>
	</div>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
